MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=kanban_todo
MYSQL_USER=kanban_user
MYSQL_PASSWORD=your_password
DB_HOST=db
DB_PORT=3306
DB_DATABASE=kanban_todo
DB_USERNAME=kanban_user
DB_PASSWORD=your_password
